<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3 col-sm-8 offset-sm-2">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]"
                        value="<%=campground.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]"
                        value="<%=campground.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" value="<%=campground.price %>"
                            required>\<div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required><%= campground.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Upload More Images</label>
                    <input class="form-control" type="file" name="image" id="image" multiple>
                </div>
                <div class="mb-3">
                    <p>Delete Images</p>
                    <div class="container">
                        <div class="row">
                        <div class="col-md-12 col-12" id="image_gallery_row">
                        <% for(let i=0;i<campground.images.length;i=i+3){ %> 
                            <div class="row">
                                <% for(let j=0;j<3&&i+j<campground.images.length;j=j+1){ %> 
                                <div class="col-md-4 col-6">
                                        <img src="<%=campground.images[i+j].url%>" class="img-thumbnail" alt="">
                                        <div class="form-check-inline">
                                            <input type="checkbox" id="image-<%=i+j%>" name="deleteImages[]" value="<%=campground.images[i+j].filename%>">
                                            <label for="image-<%=i+j%>">Delete</label>
                                        </div>
                                </div>
                                <% } %> 
                            </div>
                        <% } %> 
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>
            </form>
            <a href="/campgrounds/<%= campground._id%>">Back To Campground</a>

        </div>
    </div>